<!DOCTYPE html>
<head>

    <!--- basic page needs
    ================================================== 
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">-->

    <!-- mobile specific metas
    ================================================== 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
-->
    <!-- CSS
    ------------------------------------------------------------------------------ 
    <link rel="stylesheet" href="/stylesheets/event/css/base.css">-->
    <link rel="stylesheet" href="/stylesheets/footer.css">



    <!-- script
    ------------------------------------------------------------------------------ 
    <script src="/js/event/modernizr.js"></script>
    <script src="/js/event/pace.min.js"></script>-->

   
</head>












 <!-- s-footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                <div class="col-two md-four mob-full s-footer__sitelinks">
                        
                    <h4>BuéDeTickets</h4>

                    <ul class="s-footer__linklist">
                       <li><a href="#">Sobre</a></li>
                        <li><a href="#">Eventos</a></li>
                        <li><a href="#">Categorias</a></li>
                        <li><a href="#">Trabalhe conosco</a></li>
                    </ul>

                </div> <!-- end s-footer__sitelinks -->

                <div class="col-two md-four mob-full s-footer__archives">
                        
                    <h4>Eventos</h4>

                    <ul class="s-footer__linklist">
                         <li><a href="#">Luanda</a></li>
                        <li><a href="#">Benguela</a></li>
                        <li><a href="#">Malange</a></li>
                        <li><a href="#">Namibe</a></li>
                        <li><a href="#">Moxico</a></li>
                        <li><a href="#">Huambo</a></li>
                    </ul>

                </div> <!-- end s-footer__archives -->

                <div class="col-two md-four mob-full s-footer__social">
                        
                    <h4>Social</h4>

                    <ul class="s-footer__linklist">
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Instagram</a></li>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Google+</a></li>
                        <li><a href="#0">LinkedIn</a></li>
                    </ul>

                </div> <!-- end s-footer__social -->

                <div class="col-five md-full end s-footer__subscribe">
                        
                    <h4>BuéDeTickets</h4>

                     <p>A tua melhor plataforma de Compra de Convites e Anúncio de Eventos do País. Aqui tu encontras eventos de Cabinda ao Cunene!</p>
           

               
                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                         <span>© Copyright BueDeTickets 2018</span> 
                        <span> Todos os Direitos <a href="#">Reservados</a></span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    
</body>

</html>