<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="TechTeam">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>TECHTEAM</title>
    <!-- Place favicon.ico in the root directory -->
    
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.css"> <!--Line Add-->
    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/css/themify-icons.css">
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="icon" type="image/jpg" href="/images/teste.jpg"/>
    <link rel="stylesheet" href="/stylesheets/css/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/css/responsive.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/js/jQuery-3.3.1.js"></script> <!--Line Add-->
    <script src="/js/typed.js"></script> <!--Line Add-->
    <script src="/js/type_effect.js"></script> <!--Line Add-->
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">

    <style>
    /* to checkbox */
    input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
    }

    /*Check box*/
    input[type="checkbox"] + .label-text:before{
    	content: "\f096";
    	font-family: "FontAwesome";
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	line-height: 1;
    	-webkit-font-smoothing:antialiased;
    	width: 1em;
    	display: inline-block;
    	margin-right: 5px;
    }

    input[type="checkbox"]:checked + .label-text:before{
    	content: "\f14a";
    	color: #2980b9;
    	animation: effect 250ms ease-in;
    }

    input[type="checkbox"]:disabled + .label-text{
    	color: #aaa;
    }

    input[type="checkbox"]:disabled + .label-text:before{
    	content: "\f0c8";
    	color: #ccc;
    }

    /*Radio box*/

    input[type="radio"] + .label-text:before{
    	content: "\f10c";
    	font-family: "FontAwesome";
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	line-height: 1;
    	-webkit-font-smoothing:antialiased;
    	width: 1em;
    	display: inline-block;
    	margin-right: 5px;
    }

    input[type="radio"]:checked + .label-text:before{
    	content: "\f192";
    	color: #8e44ad;
    	animation: effect 250ms ease-in;
    }

    input[type="radio"]:disabled + .label-text{
    	color: #aaa;
    }

    input[type="radio"]:disabled + .label-text:before{
    	content: "\f111";
    	color: #ccc;
    }

    /*Radio Toggle*/

    .toggle input[type="radio"] + .label-text:before{
    	content: "\f204";
    	font-family: "FontAwesome";
    	speak: none;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	line-height: 1;
    	-webkit-font-smoothing:antialiased;
    	width: 1em;
    	display: inline-block;
    	margin-right: 10px;
    }

    .toggle input[type="radio"]:checked + .label-text:before{
    	content: "\f205";
    	color: #16a085;
    	animation: effect 250ms ease-in;
    }

    .toggle input[type="radio"]:disabled + .label-text{
    	color: #aaa;
    }

    .toggle input[type="radio"]:disabled + .label-text:before{
    	content: "\f204";
    	color: #ccc;
    }


    @keyframes effect{
    	0%{transform: scale(0);}
    	25%{transform: scale(1.3);}
    	75%{transform: scale(1.4);}
    	100%{transform: scale(1);}
    }
    /* /checkbox*/
    
    </style>
</head>

<body data-spy="scroll" data-target="#primary-menu">
    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!--Mainmenu-area-->
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
            <div class="container">
                <!--Logo-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand logo">
                        <h2>Tech<strong>Team</strong></h2>
                    </a>
                </div>
                <!--Logo/-->
                <nav class="collapse navbar-collapse" id="primary-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li ><a href="/">Home</a></li>
                        <li><a href="/">Serviços</a></li>
                    <!--    <li><a href="#feature-page">Nossos Valores</a></li>-->
                        <li><a href="/">Preços</a></li>
                        <li><a class="active" href="sobre">Sobre Nós</a></li>
                        <li><a href="/">FAQ</a></li>
                        <li><a href="/">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--Mainmenu-area/-->
    
    
         <!--Header-area-->
         <header class="header-areac overlay full-height relative v-center" id="home-page">
                <div class="absolute anlge-bg"></div>
                <div class="container">
                    <div class="row v-center">
                        <div class="col-xs-12 col-md-12 header-text">
                                <h2 style="margin-top:103px; text-align: center;">SOBRE NÓS</h2>
                                <p style="text-align: center;" >Trabalhamos diariamente para melhorar a relação entre pessoas, negócios e tecnologia.                                    </p>
                    </div>
                   
                </div>
                </div>
                <div  class="col-xs-12 col-lg-12 col-md-12" style="margin-top:84px; text-align: center;">
                        <p ><i class="down"></i></p> </div>
            </header>

    

    <section class="black section-padding" id="howarewe">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                        <div class="page-title">
                            <h2>Quem somos</h2>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-offset-0">
                    <div class="col-md-2">
                        <ul class="tech">
                            <li><h1><span class="t"></span></h1></li>
                        </ul>
                    </div>
                        <div class="col-md-8 ">
                                <p class="">
                                   <strong>Startup</strong> composta por jovens empreendedores Angolanos. Especializada em inovação digital, 
                                    focada no desenvolvimento de soluções Web, Mobile e Inteligência Artificial. 
                                    O nosso Team é apaixonado por desenvolver negócios digitais, desde sites para empresas 
                                    já consolidadas à startups com potencial de escala global em seu modelo de negócio.
                                </p>
                            </div>
                    <div class="col-md-2">
                        <ul class="team">
                            <li><h1><span class="e"></span></h1></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="workflow overlay section-padding" id="workflow">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center" style="height:70px;">
                            <div class="page-title">
                                <h2>Forma de trabalho</h2>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class=" row col-xs-8 col-sm-8 col-sm-offset-0 " >
                        <p align= "center" style="font-size:24px;">
                                Manifesto do Desenvolvimento Ágil
                            </p>
                        <p >
                                &#9830; Aceitar mudanças de requisitos, mesmo no fim do desenvolvimento. 
                                Processos ágeis se adequam à mudanças, para que o cliente possa tirar vantagens 
                                competitivas. </p>
                        <p >
                                &#9830; Entregar software em funcionamento com frequência, na escala de semanas 
                                até meses, de preferência em ciclos mais curtos.
                        </p>
                        <p >
                                &#9830; Contruímos projetos ao redor de indivíduos motivados. 
                                Dando a eles o ambiente e suporte necessário e confiamos que farão seu trabalho.

                        </p> 
                        <p >
                                &#9830; Sabemos que melhores arquiteturas, requisitos e designs emergem de 
                                times auto-organizáveis.

                        </p>
                        </div>
                    <div class=" row col-xs-4 col-sm-4 col-sm-offset-0 text-center" style="font-size:16px; margin-top: 20px;  line-height: 1.9;  ">
                        <p align= "justify">
                            Trabalhamos em projetos de ciclos curtos e de desenvolvimento intensivo, que priorizam a resposta rápida para o teu 
                            negócio. Gerenciamos o projeto com comunicação aberta entre todos os interessados para poder fazer o produto evoluir 
                            rapidamente e na melhor direção.
                            <br> <b>Software funcional</b> é o nosso índice mais importante de progresso.
                            </p>
                        <p align= "justify">
                                
                        </p>
                    </div>
                </div>
            </section>
   

     
 <!-- ***** Cool Facts Area Start ***** -->
 <section class="cool_facts_area clearfix">
        <div class="container">
                <div class="row">
                        <div class="col-12">
                            <!-- Section Heading Area -->
                            <div class="section-heading text-center">
                                <h2 style="color: #f8f5f5; font-size: 45px;">Meta à atingir!</h2>
                                <div class="line-shape"></div>
                            </div>
                        </div>
                    </div>
            <div class="row col-sm-offset-1" style="
            margin-top: 30px;">
                
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="counter-area">
                            <h3><span class="counter">29600</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="ion-ios-people"></i>
                            <p>Usuários </br> activos</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="counter-area">
                            <h3><span class="counter">640</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="ion-ios-happy"></i>
                            <p>Clientes <br> Satisfeitos</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="counter-area">
                            <h3><span class="counter">500</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="ion-ios-person"></i>
                            <p>Contas <br>Activas</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
                        <div class="counter-area">
                            <h3><span class="counter">10</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="ion-ios-star-outline"></i>
                            <p>Total <br>Prêmios</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Cool Facts Area End ***** -->    

    <section class="workflow overlay section-padding" id="workflow">
            <div class="container">
                <div class="row">
                   <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center" style="padding-bottom:0px;">
                    <div class="page-title">
                       <h2>FAÇA PARTE DO NOSSO TEAM</h2>
                       <p>
                       Preenche o formulário para entrarmos em contacto!
                    </p>
                   </div>
               </div>
               <div class=" row col-xs-5 col-sm-5 col-sm-offset-0 ">
               <p>
                  Acreditamos que devemos confiar nas pessoas e na sua capacidade de colaboração mais do que em 
                  processos que engessam o trabalho. Trabalhamos em ciclos curtos de desenvolvimento que priorizam 
                  a resposta rápida do produto, e procuramos sempre aprender todos juntos.
               </p>
               <p>
                   Não fazemos questão de uma gerência pesada e rígida, que impõe o que deve ou não ser feito. 
                   Todos são incentivados a aprender ao longo do trabalho e a tomar decisões que melhor representem o 
                   consenso e o resultado final do produto.
               </p>
                </div>
                
                       <div class=" row col-xs-6 col-sm-6 col-sm-offset-0 " style="margin-left: 62px;">
                        <form  method="post" action="/candidato" >
                            <div class="form-double">
                                <input type="text" id="nome" name="nome" placeholder="Nome" class="form-control" required="required">
                                <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required="required">
                            </div>
                            <textarea name="message" id="message" name="message" rows="4" class="form-control" placeholder="Fala-nos um pouco mais sobre ti.." required="required"></textarea>
                           <div class="col-md-12 inline-block">
                                <h4>Vaga para:</h4>
                                <div class="form-check inline-block">
                                    <label class="toggle">
                                        <input type="radio" name="estagiario"> <span class="label-text">Estagiário</span>
                                    </label>
                                    <label class="toggle">
                                        <input type="radio" name="programadorii"> <span class="label-text">Programador II</span>
                                    </label>
                                
                                    <label class="toggle">
                                        <input type="radio" name="frontend"> <span class="label-text">Front End</span>
                                    </label>
                                
                                    <label class="toggle">
                                        <input type="radio" name="prevendas" > <span class="label-text">Pré Vendas</span>
                                    </label>
                                </div>
                              </div>
                           
                             <button type="submit" class="button white">Enviar</button>
                       </form>
                </div>
   
   
                
            </div>
           </div>
               </section>
     <footer class="footer-area relative sky-bg" id="contact-page">
        <div class="absolute footer-bg"></div>
        
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                        <div class="col-xs-6 col-sm-6 pull-right" >
                            <ul class="social-menu text-right x-left">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-github"></i></a></li>
                            </ul>
                        </div>
                    <div class="col-md-12 text-center" >
                        <p>&copy;Copyright 2019 Todos direitos reservados.  <a href="https://techteam-angola.tech">TechTeam</a></p>
                    </div>
                
        
                </div>
            </div>
        </div>
       
    </footer>
  

    <!--Vendor-JS-->
    <script src="/js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.parallax-1.1.3.js"></script>
    <script src="/js/scrollUp.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="/js/main.js"></script>
</body>

</html>