<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->


<head>
        <meta charset="utf-8">
        <meta name="author" content="TechTeam">
        <meta name="description" content="TechTeam Presteção de Serviço LDA">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Title -->
        <title>TECHTEAM</title>
        <!-- Place favicon.ico in the root directory -->
       
        <!-- Plugin-CSS -->
        <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/css/animate.css"> <!--Line Add-->
        <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/stylesheets/css/themify-icons.css">
        <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">
        <link rel="stylesheet" href="/stylesheets/css/animate.css">
        <!-- Main-Stylesheets -->
        <link rel="icon" type="image/png" href="/images/2.png"/>
        <link rel="stylesheet" href="/stylesheets/css/normalize.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/css/responsive.css">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="/js/jQuery-3.3.1.js"></script> <!--Line Add-->
        <script src="/js/typed.js"></script> <!--Line Add-->
        <script src="/js/type_effect.js"></script> <!--Line Add-->
    
        <!--[if lt IE 9]>
            <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    
    <script>
    $('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
    </script>
    
    
    </head>
    
    <body data-spy="scroll" data-target="#primary-menu">
    
        <div class="preloader">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
        </div>
         <!--Mainmenu-area-->
         <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
                <div class="container">
                    <!--Logo-->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand logo">
                            <h2>Tech<strong>Team</strong></h2>
                        </a>
                    </div>
                    <!--Logo/-->
                    <nav class="collapse navbar-collapse" id="primary-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="#service-page">Serviços</a></li>
                        <!--    <li><a href="#feature-page">Nossos Valores</a></li>-->
                            <li><a href="#price-page">Preços</a></li>
                            <li><a href="sobre">Sobre Nós</a></li>
                            <li><a href="#faq-page">FAQ</a></li>
                            <li><a href="#contact-page">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--Mainmenu-area/-->
        

        
            <!--Header-area-->
            <header class="header-area overlay full-height relative v-center" id="home-page">
                <div class="absolute anlge-bg"></div>
                <div class="container">
                    <div class="row v-center">
                        <div class="col-xs-12 col-md-7 header-text">
                                <h2>Gerenciando o teu negócio</h2>
                                <p style="padding-top:15px;">Transforma o teu Negócio e aumenta os teus Clientes. Temos tudo o que precisas para ser digital,
                                primando pela produtividade, criatividade e performance de teu negócio.</p>
                            <a href="#contact-page" class="button white" style="margin-top:25px;" >Contacto</a>
                        </div>
                        
                    </div>
                </div>
            </header>
    
        <!--Header-area/-->
        <!--Wellcome-->
        <div style="padding-top:10px"></div>
        <section class="section-padding" id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-offset-3 text-center">
                            <div class="page-title ">
                                <h2>Bem-vindo <span class="typed"></span></h2>
                                </div>
                        </div>                    
                    </div>
                    <div class="col-xs-12 col-sm-4">
                            <div class="box" style="max-height:900px;">
                                <div class="box-icon">
                                    <img src="/images/service-icon-1.png" alt="">
                                </div>
                                <h4>ChatBots</h4>
                                <p>Uma forma inovadora de melhorar o teu relacionamento com os teus clientes. Atende à múltiplos clientes simultaneamente, sem filas, com respostas padronizadas e precisas.                                </p>
                                </div>
                            
                        </div>
                      
        
        
                        <div class="col-xs-12 col-sm-4">
                            <div class="box">
                                <div class="box-icon" >
                                    <img src="/images/service-icon-2.png" alt="">
                                </div>
                                <h4>Aplicativos</h4>
                                <p>O mercado de aplicativos está cada vez mais relevante no mundo digital. Impacta os teus clientes com um app personalizado para o teu negócio.</p>
                                </div>
                           
                       </div>
                      
        
        
                        <div class="col-xs-12 col-sm-4">
                            <div class="box">
                                <div class="box-icon">
                                    <img src="/images/service-icon-3.png" alt="">
                                </div>
                                <h4>Web Sites</h4>
                                <p>Sites modernos e dinâmicos para a divulgação do teu negócio. Cria a tua loja virtual connosco e atrai mais clientes! Desde os planos mais básicos aos planos institucionais.                                </p>
                             </div>
                           
                       </div>
                   
        
        
                    </div>
                </div>
                </section>
    
              
    
    
        <!--Feature-area-->
        <section class="gray-bg section-padding" id="service-page" style="padding-bottom: 50px;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center" style="height:70px; ">
                            <div class="page-title">
                                <h2>O QUE <strong>FAZEMOS?</strong></h2>
                            </div>
                        </div>
      </div>
                <div class="about">
                        <div class=" text-center">
                            <div class="row">
                   
                                <div class="col-md-4" style="margin-bottom:9px;">
                                    <div class="service-box">
                                        <div class="service-icon yellow" >
                                            <div class="front-content">
                                                <i class="fa fa-code"></i> 
                                               <h3>WebSites</h3>
                                           </div>
                                       </div>
                                       <div class="service-content">
                                               <h3>WebSites</h3>
                                               <p>Para maior parte dos usuários, uma empresa que não é encontrada com facilidade no Google, simplesmente 
                                                    não existe. </p>
                                               <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal2"><i class="fa fa-plus"></i></button>
                                           </div>
                                       </div>
                                   </div>  
                          <div class="modal video-modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal">
                                  <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h4 class="modal-title">Sites</h4>
                                          </div>
                                          <div class="modal-body">
                                              <p style="color:#14404e">Por isso não adianta ter apenas um site, é necessário ter um site profissional, 
                                                  responsivo, tagueado, com conteúdos relevantes, com código otimizado e que siga todas 
                                                  as métricas de busca do Google. E é isso que oferecemos com o nosso serviço de desenvolvimento 
                                                  de sites que vai fazer com que o teu negócio 
                                                  seja encontrado nas primeiras páginas organicamente através de um bom trabalho de SEO.</p>
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                          </div>
                                          </div>
                                      </div>
                               </div>
           
                               <div class="col-md-4" style="margin-bottom:9px;">
                                   <div class="service-box">
                                       <div class="service-icon orange">
                                           <div class="front-content">
                                               <i class="fa fa-bullhorn"></i>
                                               <h3>Sistemas automatizados</h3>
                                           </div>
                                       </div>
                                       <div class="service-content">
                                           <h3>Sistemas automatizados</h3>
                                           <p>Os sistemas integrados nasceram com o objetivo de facilitar e otimizar processos empresariais.</p>
                                       <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal3"><i class="fa fa-plus"></i></button>
                                           </div>
                                   </div>
                               </div>
                               <div class="modal video-modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal">
                                       <div class="modal-dialog" role="document">
                                           <div class="modal-content">
                                               <div class="modal-header">
                                                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                   <h4 class="modal-title">Sistemas automatizados</h4>
                                               </div>
                                               <div class="modal-body">
                                                   <p style="color:#14404e">Hoje é possível automatizar tudo que acontece na tua empresa, desde gasto com fornecedores, 
                                                       gestão de funcionários, projeções de faturamento, gestão de custos, fluxo de trabalho, entre outros. 
                                                       A cada dia que passa, esses sistemas ficam mais fáceis e didáticos para o usuário com a utilização de 
                                                       novas tecnologias de Inteligência artificial, interface amigável e de fácil entendimento.</p>
                                               </div>
                                               <div class="modal-footer">
                                                   <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                               </div>
                                               </div>
                                           </div>
                               </div>
                   
                               
                      <div class="col-md-4" style="margin-bottom:9px;">
                     <div class="service-box">
                         <div class="service-icon yellow">
                             <div class="front-content">
                                 <i class="fa fa-paint-brush"></i>
                                 <h3>PORTAIS E BLOGS</h3>
                             </div>
                             </div>
                             <div class="service-content w3-agileits">
                                 <h3>PORTAIS E BLOGS</h3>
                                 <p>Com a grande massa da população tendo acesso à internet somada a queda de audiência nas mídias Off Line (TV, jornais e revistas), 
                                     um novo mercado foi criado como excelente ferramenta de comunicação, conteúdo e informação.</p>
                          <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal4"><i class="fa fa-plus"></i></button>
                                  </div>
                          </div>
                      </div>
                      <div class="modal video-modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal">
                       <div class="modal-dialog" role="document">
                           <div class="modal-content">
                               <div class="modal-header">
                                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                                   <h4 class="modal-title">PORTAIS E BLOGS</h4>
                               </div>
                               <div class="modal-body">
                                   <p style="color:#14404e">Blogs e portais são hoje responsáveis por milhões de acessos na internet. Se pretendes te tornar um 
                                       blogger ou ter um portal da tua cidade, contrata uma agência 
                                       especializada e de confiança, 
                                       e faz já um blog ou portal profissional, com um código otimizado e excelente SEO para se diferenciar
                                        dos concorrentes.</p>
                               </div>
                               <div class="modal-footer">
                                   <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                               </div>
                               </div>
                           </div>
                               </div>
                              </div>
                   
                       
                          <div class="row">
                              <div class="col-md-4" style="margin-bottom:9px;">
                                  <div class="service-box">
                                      <div class="service-icon orange">
                                          <div class="front-content">
                                              <i class="fa fa-desktop"></i>
                                              <h3>LANDING PAGES</h3>
                                          </div>
                                      </div>
                                      <div class="service-content agile">
                                          <h3>LANDING PAGES</h3>
                                          <p>Elas foram criadas para suprir parte das estratégias de vendas das empresas. Ao invés de divulgar o site e esperar que o cliente encontre o produto divulgado, criam-se as OnePage só com o produto, sua descrição e preço, facilitando a retenção da informação.</p>
                                      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal5"><i class="fa fa-plus"></i></button>
                                          </div>
                                  </div>
                                           </div>
                             <div class="modal video-modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal">
                                     <div class="modal-dialog" role="document">
                                         <div class="modal-content">
                                             <div class="modal-header">
                                                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                 <h4 class="modal-title">LANDING PAGES</h4>
                                             </div>
                                             <div class="modal-body">
                                                 <p style="color:#14404e">A jornada do consumidor é mais curta e direta, do momento em que é captado pela mídia, até a hora da compra.
                                                        As Landing Pages foram evoluindo ao longo dos anos e novas funcionalidades foram sendo criadas.
                                                         Hoje a mais utilizada é a troca do conteúdo pelo lead, 
                                                        ou seja, a empresa capta os seus dados em troca de algum benefício como um e-book, vídeo aula, texto e mostrar preços..</p>
                                             </div>
                                             <div class="modal-footer">
                                                 <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                             </div>
                                             </div>
                                         </div>
                               </div>
                   
           
                           <div class="col-md-4" style="margin-bottom:9px;">
                               <div class="service-box">
                                   <div class="service-icon yellow">
                                       <div class="front-content">
                                           <i class="fa fa-check"></i>
                                           <h3>LOJAS VIRTUAIS</h3>
                                       </div>
                                   </div>
                                   <div class="service-content w3-agile">
                                       <h3>LOJAS VIRTUAIS</h3>
                                       <p>Com o tempo, o mercado de lojas virtuais (e-commerce) cresce exponencialmente no mundo. Custo baixo e a possibilidade de grandes lucros enchem os olhos dos empresários 
                                           que lutam diariamente pela redução dos custos e aumento de lucratividade.</p>
                                       <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal6"><i class="fa fa-plus"></i></button>
                                   </div>
                           </div>
                 </div>
                 <div class="modal video-modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal">
                         <div class="modal-dialog" role="document">
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                                     <h4 class="modal-title">LOJAS VIRTUAIS</h4>
                                 </div>
                                 <div class="modal-body">
                                     <p style="color:#14404e">As lojas virtuais chegaram como a solução daqueles que querem empreender com baixo investimento. 
                                         No entanto, a brincadeira não é tão simples quanto parece, milhares de plataformas estão disponíveis 
                                         (tem até de graça), mas felizmente ou infelizmente não é apenas o preço que importa. 
                                         Até para as plataformas gratuitas é fundamental ter uma agência com conhecimento para customizar a 
                                         tua loja, da forma como imaginas. Caso o empreendedor queira dar voos maiores, aí mais do que nunca 
                                         é fundamental a participação ativa de uma agência especializada.</p>
                                 </div>
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                 </div>
                                 </div>
                             </div>
                           </div>
                   
                   
                   
                          <div class="col-md-4" style="margin-bottom:9px;">
                              <div class="service-box">
                                  <div class="service-icon orange">
                                      <div class="front-content">
                                          <i class="fa fa-gg"></i>
                                          <h3>APLICATIVOS
                                           </h3>
                                      </div>
                                  </div>
                                  <div class="service-content">
                                      <h3>APLICATIVOS</h3>
                                      <p>O mercado de aplicativos está cada vez mais relevante no mundo digital. Impacta e engaja os teus clientes com um app personalizado para o teu negócio.</p>
                                      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal7"><i class="fa fa-plus"></i></button>
                                  </div>
                          </div>
                 </div>
                 <div class="modal video-modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModal">
                         <div class="modal-dialog" role="document">
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                                     <h4 class="modal-title">APLICATIVOS</h4>
                                 </div>
                                 <div class="modal-body">
                                     <p style="color:#14404e">Com um bom aplicativo, podes de forma precisa e recorrente impactar o teu cliente. Desenvolvemos desde aplicações simples para teu pequeno negócio, como soluções robustas para grandes empresas. Produzimos apps híbridos e nativos para as plataformas Apple iOS e Google Android. Possuímos uma equipe capacitada para idealizar, conceitualizar, prototipar, desenvolver, entregar, publicar e operacionalizar os teus apps.</p>
                                 </div>
                                 <div class="modal-footer">
                                     <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                 </div>
                                 </div>
                             </div>
                           </div>
                   
                   
                   
           
                       </div>
                   </div>
                           </div>
            </section>
            <!--Feature-area/-->
    
            
     <!-- ***** Cool Facts Area Start ***** -->
     <section class="cool_facts_area clearfix">
            <div class="container">
                    <div class="row">
                            <div class="col-12">
                                <!-- Section Heading Area -->
                                <div class="section-heading text-center">
                                    <h2 style="color: #f8f5f5; font-size: 45px;">Meta à atingir!</h2>
                                    <div class="line-shape"></div>
                                </div>
                            </div>
                        </div>
                <div class="row col-sm-offset-1" style="
                margin-top: 30px;">
                    
                    <!-- Single Cool Fact-->
                    <div class="col-xs-3 col-lg-3">
                        <div class="counter-area">
                            <h3><span class="counter">29600</span></h3>
                        </div>
                        <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                            <div class="cool-facts-content">
                                <i class="ion-ios-people"></i>
                                <p>Usuários </br> activos</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Cool Fact-->
                    <div class=" col-xs-3 col-lg-3">
                        <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                            <div class="counter-area">
                                <h3><span class="counter">640</span></h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-ios-happy"></i>
                                <p>Clientes <br> Satisfeitos</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Cool Fact-->
                    <div class="col-xs-3 col-lg-3">
                        <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
                            <div class="count counter-area">
                                <h3><span class="counter">500</span></h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-ios-person"></i>
                                <p>Contas <br>Activas</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Cool Fact-->
                    <div class="col-md-3 col-lg-3">
                        <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
                            <div class="counter-area">
                                <h3><span class="counter">10</span></h3>
                            </div>
                            <div class="cool-facts-content">
                                <i class="ion-ios-star-outline"></i>
                                <p>Total <br>Prêmios</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** Cool Facts Area End ***** -->
    
    
    
        <section class="price-area overlay section-padding" id="price-page">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                            <div class="page-title">
                                <h2>Planos que cabem no teu bolso!</h2>
                                <p>Desde Sites e Aplicativos básicos com valores acessíveis, à Plataformas Institucionais.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-3">
                            <div class="price-table" style="height:580px;">
                                <h3 class="text-uppercase price-title">Básico</h3>
                                <h5 style="font-size:12px;" >a partir de</h5><strong class="amount">KZS <span class="big">1.800</span> <span style="font-size:12px;"> /por mês</span></strong>
                                <hr>
                                <ul class="list-unstyled">
                                    <li>Site de Informações</li>
                                    <li>Site de Evento</li>
                                    <li>Blog Pessoal</li>
                                    <li>Página de Anúncio</li>
                                    <li>Portfólio</li>
                                </ul>
                                <hr>
                               <ul class="list-unstyled">
                                <li>Domínio grátis</li>
                                <li>Suporte</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                                <div class="price-table" style="height:580px;">
                                    <h3 class="text-uppercase price-title">Padrão</h3>
                                    <h5 style="font-size:12px;">a partir de</h5><strong class="amount">KZS <span class="big">3.200</span><span style="font-size:12px;"> /por mês</span></strong>
                                    <hr>
                                    <ul class="list-unstyled">
                                            <li>Site com Login</li>
                                            <li>Site de Notícias</li>
                                            <li>Sites para Instituições</li>
                                            <li>Sites para Estabelecimentos</li>
                                            <li>Sites para Publicidades</li>
                                    </ul>
                                    <hr>
                                    <ul class="list-unstyled">
                                    <li>Domínio grátis</li>
                                    <li>Suporte</li>
                                    </ul>
                                </div>
                            </div>
                       
                        <div class="col-xs-12 col-sm-3">
                            <div class="price-table" style="height:580px;">
                                <h3 class="text-uppercase price-title">Negócio</h3>
                                <h5 style="font-size:12px;">a partir de</h5><strong class="amount">KZS <span class="big">6.800</span><span style="font-size:12px;"> /por mês</span></strong>
                                    <hr>
                                <ul class="list-unstyled">
                                    <li>Site para Gestão Empresarial</li>
                                    <li>Site para Gestão de Estabelecimentos</li>
                                    <li>Gestão e Análise</li>
                                    <li>Portal Escolar</li>
                                    <li>Site para Cadastro de Usuários</li>
                                </ul>
                                <hr>
                               <ul class="list-unstyled">
                                <li>Suporte</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                            <div class="price-table" style="height:580px;">
                                    <span class="price-info"><span class="ti-crown"></span></span>
                                    <h3 class="text-uppercase price-title">Premium</h3>
                                    <h5 style="font-size:12px;">a partir de</h5><strong class="amount">KZS <span class="big">9.700</span><span style="font-size:12px;"> /por mês</span></strong>
                                <hr>
                                <ul class="list-unstyled">
                                    <li>Ecommerce Uni</li>
                                    <li>Ecommerce Bi</li>
                                    <li>Plataforma de Gestão com Dashboards</li>
                                    <li>Plataformas Institucionais</li>
                                    <li>Intranet</li>
                                </ul>
                                <hr>
                                <ul class="list-unstyled">
                                    <li>Suporte</li>
                                </ul>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </section>
    
    
            
            <section class="gray-bg section-padding" id="faq-page">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center" style="height: 50px; padding: 10px 0;">
                                <div class="page-title">
                                    <h2>Perguntas frequentes</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                                <div class="panel-group" id="accordion">
                                    <div class="panel">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true">A partir de quanto se consegue um site ou aplicativo?</a>
                                        </h4>
                                        <div id="collapse1" class="panel-collapse collapse in">
                                            <p>Dependendo das particularidades de cada projecto, volume de actividades
                                                    e processos, nossos preços variam a partir dos AOA 37.000,00.</p>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Se alguém trouxer uma ideia de algo que vocês nunca desenvolveram,
                                                    abraçariam o projecto?</a>
                                        </h4>
                                        <div id="collapse2" class="panel-collapse collapse">
                                            <p>E porque não? Claro que se faria antes um estudo de viabilidade detalhado
                                                    e se porventura o projecto se mostre viável e exequível teríamos todo o prazer
                                                    em desenvolver.</p>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Como são feitos os vossos orçamentos?</a>
                                        </h4>
                                        <div id="collapse3" class="panel-collapse collapse">
                                            <p>Nossos orçamentos são baseados pela dimensão de cada projecto,
                                                    tecnologias utilizadas e horas de desenvolvimento.</p>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Que metodologia é que vocês utilizam?</a>
                                        </h4>
                                        <div id="collapse4" class="panel-collapse collapse">
                                            <p>A metodologia por nós utilizada é a metodologia scrum/ágil, que engloba
                                                    um conjunto de práticas voltadas para a rapidez e eficiência de equipes, com o
                                                    uso de Tecnologias da Informação, participação contínua do cliente e grande capacidade em lidar com
                                                    mudanças e conflitos.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
    
        <footer class="footer-area relative sky-bg" id="contact-page">
            <div class="absolute footer-bg"></div>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                            <div class="page-title" style="padding-top:30px;">
                                <h2>Fale connosco</h2>
                                <p>Conte-nos mais sobre a tua ideia ou negócio. Sente-te livre para explicar como gostarias que fosse a tua Aplicação.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <address class="side-icon-boxes">
                                <div class="side-icon-box">
                                    <div class="side-icon">
                                        <img src="/images/location-arrow.png" alt="">
                                    </div>
                                    <p><strong>Endereço: </strong> Apt 35 Rua das Flores - Coqueiros, Luanda <br />Angola</p>
                                </div>
                                <div class="side-icon-box">
                                    <div class="side-icon">
                                        <img src="/images/phone-arrow.png" alt="">
                                    </div>
                                    <p><strong>Telefone: </strong>
                                        <a href="callto:8801812726495">(+244) 942517085</a> <br />
                                        <a href="callto:8801687420471">(+244) 921579606</a>
                                    </p>
                                </div>
                                <div class="side-icon-box">
                                    <div class="side-icon">
                                        <img src="/images/mail-arrow.png" alt="">
                                    </div>
                                    <p><strong>E-mail: </strong>
                                        <a href="mailto:youremail@example.com">contacto@techteam-angola.tech</a> <br />
                                    </p>
                                </div>
                            </address>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <form action="/email" id="contact-form" method="post" class="contact-form">
                                <div class="form-double">
                                    <input type="text" id="nome" name="nome" placeholder="Nome" class="form-control" required="required">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required="required">
                                </div>
                                <textarea name="message" id="message" rows="5" class="form-control" placeholder="Ficou interessado em algum plano? Descreva a tua necessidade e entraremos em contato contigo!" required="required"></textarea>
                                <button type="submit" onclick="thanks()" class="button white">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function thanks() {
                    alert("Obrigada por entrar em contacto :)");
                }
            </script>
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 pull-right">
                            <ul class="social-menu text-right x-left">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-google"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>&copy;Copyright 2019 Todos direitos reservados.  <a href="https://techteam-angola.tech">TechTeam</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <!--Vendor-JS-->
        <script src="/js/vendor/bootstrap.min.js"></script>
        <!--Plugin-JS-->
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/contact-form.js"></script>
        <script src="/js/jquery.parallax-1.1.3.js"></script>
        <script src="/js/scrollUp.min.js"></script>
        <script src="/js/magnific-popup.min.js"></script>
        <script src="/js/wow.min.js"></script>
        <!--Main-active-JS-->
        <script src="/js/main.js"></script>
    </body>
    
    </html>