<!DOCTYPE html>
<html lang="en">
<head>
<title>Cadastro TECHTEAM</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<link rel="icon" type="image/jpg" href="/images/teste.jpg"/>
<link href="/stylesheets/registry/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/stylesheets/registry/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">



</head>
<body>







<!--teste header-->

<div class="signupform">
<h1>Faz o teu Cadastro!</h1>
	<div class="container" >
		
		<div class="agile_info">
			<div class="w3_info">
				<h2>Registra-te Aqui!</h2>
						<form action="/register" method="post">
						<div class="left margin">
							<label>Primeiro nome</label>
							<div class="input-group">
								<span><i class="fa fa-user" aria-hidden="true"></i></span>
								<input type="text" name="username" placeholder="Primeiro nome" required=""> 
							</div>
						</div>
						<div class="left">
							<label>Último nome</label>
							<div class="input-group">
								<span><i class="fa fa-user" aria-hidden="true"></i></span>
								<input type="text" name="lastName" placeholder="Último nome" required=""> 
							</div>
						</div>
						<div class="left margin">
							<label>Endreço de Email</label>
							<div class="input-group">
								<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
								<input type="email" name="email" placeholder="Email(Opcional)" required=""> 
							</div>
						</div>
						<div class="left">
							<label>Número de Telemóvel</label>
							<div class="input-group">
								<span><i class="fa fa-phone" aria-hidden="true"></i></span>
								<input type="text" name="telefone" placeholder="Telemóvel(Opcional)" required="">
							</div>
						</div>

						<div class="left margin">
							<label>Senha</label>
							<div class="input-group">
								<span><i class="fa fa-lock" aria-hidden="true"></i></span>
								<input type="Password" name="password" placeholder="Senha" required="">
							</div>
						</div>

					<!--	<div class="left">
							<label>Confirm Password</label>
							<div class="input-group">
								<span><i class="fa fa-lock" aria-hidden="true"></i></span>
								<input type="Password" placeholder="Confirm Password" required="">
							</div>
						</div>
-->

						<div class="clear"></div>
						<!--	<input type="checkbox" value="remember-me" /> <h4> I agree to the terms & contidions </h4>        
					-->		<button class="btn btn-danger btn-block" type="submit">Regista-te <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button >                
					</form>
			</div>
			
			<div class="clear"></div>
			</div>
			
		</div>
		<div class="footer">

 <p>&copy; 2018 TECHTEAM | Todos os Direitos Reservados </a></p>
 </div>
	</div>

    

    